.Weather {
    width:40%;
    margin:0 auto;
    margin-top:3%;
}

.Weather img{
    width:60px;
    height: 60px;
}

.Weather .weather-image .detail{
    display: flex;
}

.Weather .temp{
    font-size:1.5em;
    margin-top:5%;
    font-weight: bold;
}

.Weather .country{
 margin-left:10px;
}